node_modules
dist
build
.turbo
.next
.out
*.env
*.env.*local
.DS_Store
coverage
.vercel
.expo
.expo-shared
apps/**/ios
apps/**/android
.astro
*.pem
*.tsbuildinfo
next-env.d.ts
.tanstack
.output
.vinxi
.nitro
.wrangler
